._dash-undo-redo {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace
}
body {
  font-family: Arial;
  background-color: rgb(0, 31, 31);
}

.title {
  text-align: center;
  color: limegreen;
  font-size: 3em;
  margin-top: 1em;
  text-decoration: underline
}

#map {
  height: 800px;
  padding: 0;
}

div.main > h1 {
  color: green;
  text-align: center;
  font-size: 0.5em;
  margin: 1em;
}

.text {
  margin-top: 1em;
  font-size: 1.2em;
}

div.rocketinfo div.text {
  float: right;
  width: 70%;
}

div.rocketinfo img {
  height: 200px !important;
  padding: 0 !important;
  margin: 0.5em;
}

div.rocketinfo a {
  color: darkgreen;
}

.launch, .rocketinfo {
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    text-align: left;
    background-color: limegreen;
    font-size: 1.2em;
    overflow: auto;
}

#next_launch {
  transform: scale(0.75);
  transform-origin: top left;
  padding:0; margin:0;
}

img {
  display: block;
  float: left;
  height: 300px;
  padding: 10px 100px;
  background-color: darkgreen;
  border-radius: 1em;
  margin-top: 1em;
}

div.text {
  float: right;
  width: 75%;
}

div.bottom::after {
  clear: both;
}

.ref {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

#rockets {
  top: 60px !important;
}

#timer {
  top:0;
  margin: 30px !important;
  color: darkgreen;
  font-size: 1.5em;
}

#next_launch_link {
  position: relative !important;
  margin: 50px !important;
  font-size: 1.5em;
  text-align: center;
}

#name {
  font-size: 4em;
  border: 5px solid darkgreen;
  width:400px;
  color: limegreen;
  text-align: center;
  display: block;
  margin: 20px auto;
}

#name::first-letter {
  font-size: 1.5em;
}




#date_range {
  margin: 10px;
}

.DateRangePickerInput {
  border: 3px solid black !important;
  background-color: limegreen;
}

.DateInput, .DayPicker, .CalendarMonth, .DayPickerNavigation--horizontal,
.DayPickerNavigation__prev, .DayPickerNavigation__next,
.CalendarDay--selected-span{
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  background-color: limegreen !important;
}

.CalendarDay__button, .DayPickerNavigation__prev, .DayPickerNavigation__next{
  border: 1px solid black;
}

.DayPickerNavigation--horizontal {
  border-bottom: 1px solid black;
}

.CalendarDay--selected-start, .CalendarDay--selected-end {
  background-color: darkgreen !important;
}

.CalendarDay--selected-span {
  background-color: rgba(255, 255, 0, 0.5) !important;
}

.DayPickerKeyboardShortcuts__show--bottom-right {
  border-right: 33px solid darkgreen !important;
}




.ref:hover {
  text-decoration: underline;
}

.tab {
  background-color: limegreen !important;
  font-size: 2em;
  font-weight: bold;
  border: 1px solid darkgreen !important;
}

.tab-selected {
  text-decoration: underline;
  border: 6px solid darkgreen !important;
}
