._dash-undo-redo {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace
}
body {
  font-family: Arial;
  background-color: rgb(0, 31, 31);
}

#map {
  height: 800px;
  padding: 0;
}

div.main > h1 {
  color: green;
  text-align: center;
  font-size: 3em;
  margin: 1em;
}

.launch {
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    text-align: left;
    background-color: limegreen;
    font-size: 1.5em;
    overflow: auto;
}

img {
  display: block;
  float: left;
  height: 200px;
  padding: 10px 50px;
  background-color: darkgreen;
  border-radius: 1em;
}

div.text {
  float: right;
  width: 90%;
}

div.bottom::after {
  clear: both;
}


.ref {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3em;
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

#name {
  font-size: 4em;
}

#name::first-letter {
  font-size: 1.5em;
}


.ref:hover {
  text-decoration: underline;
}

.tab {
  background-color: limegreen !important;
  font-size: 2em;
  font-weight: bold;
}

.tab-selected {
  text-decoration: underline;
  border: 6px solid darkgreen !important;
  background-color: limegreen !important;

}