._dash-undo-redo {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace
}
body {
  font-family: Arial;
  background-color: rgb(0, 31, 31);
}

.title {
  text-align: center;
  color: limegreen;
  font-size: 4em;
  margin-top: 1em;
  text-decoration: underline
}

#map {
  height: 800px;
  padding: 0;
}

div.main > h1 {
  color: green;
  text-align: center;
  font-size: 3em;
  margin: 1em;
}

.text {
  margin-top: 1em;
  font-size: 1.5em;
}

div.rocketinfo div.text {
  float: right;
  width: 70%;
}

div.rocketinfo img {
  height: 200px !important;
  padding: 0 !important;
  margin: 0.5em;
}

div.rocketinfo a {
  color: darkgreen;
}

.launch, .rocketinfo {
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    text-align: left;
    background-color: limegreen;
    font-size: 1.5em;
    overflow: auto;
}

img {
  display: block;
  float: left;
  height: 350px;
  padding: 10px 100px;
  background-color: darkgreen;
  border-radius: 1em;
  margin-top: 1em;
}

div.text {
  float: right;
  width: 80%;
}

div.bottom::after {
  clear: both;
}

.ref {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

#rockets {
  top: 60px !important;
}

#timer {
  top:0;
  margin: 30px !important;
  color: darkgreen;
}

#next_launch_link {
  position: relative !important;
  top:0;
  margin: 30px !important;
}

#name {
  font-size: 4em;
}

#name::first-letter {
  font-size: 1.5em;
}

.ref:hover {
  text-decoration: underline;
}

.tab {
  background-color: limegreen !important;
  font-size: 2em;
  font-weight: bold;
}

.tab-selected {
  text-decoration: underline;
  border: 6px solid darkgreen !important;
  background-color: limegreen !important;
}
